<div id="home">
    <div id="instituicoes">
        <div id="instituicoes-wrapper">
            <div class="instituicao" *ngFor="let instituicao of instituicoes">
                <p> {{ instituicao.nome }} </p>
                <button> > </button>
                <button *ngIf="instituicao.id" (click)="removerInstituicao(instituicao.id)"> X </button>
            </div>
        </div>
    </div>
    
    <input type="text" [(ngModel)]="novaInstituicaoNome" placeholder="Nome da instituição"/>
    <button id="add-inst" (click)="adicionarInstituicao()">
        <p> + </p>
        <p> Adicionar instituição </p>
    </button>

</div>
