<div class="reserva-container">

    <div class="campos-reserva">
        <select class="campo" name="Bloco" id="bloco">
            <option value="bloco1"> Bloco 1 </option>
            <option value="bloco2"> Bloco 2 </option>
            <option value="bloco3"> Bloco 3 </option>
        </select>

        <input class="campo" type="date">

        <select class="campo" name="Sala" id="sala">
            <option value="sala1"> Sala 1 </option>
            <option value="sala2"> Sala 2 </option>
            <option value="sala3"> Sala 3 </option>
        </select>

        <select class="campo" name="Horario" id="horario">
            <option value="0700"> 07:00 </option>
            <option value="0800"> 08:00 </option>
            <option value="0900"> 09:00 </option>
        </select>

        <textarea class="campo" name="Nome da turma" id="nome-turma">
            Nome da turma
        </textarea>
        
        <textarea class="campo" name="Ano da turma" id="ano-turma">
            Ano da turma
        </textarea>

        <textarea class="campo" name="Disciplina" id="disciplina">
            Disciplina
        </textarea>
        
        <textarea class="campo" name="Observação" id="observacao">
            Observação (opcional)
        </textarea>

    </div>

    <button id="botao-enviar"> Enviar </button>

</div>