<div id="horarios-aluno-container">
    <h2 id="titulo-universidade"> Universidade X </h2>
    <div id="selecionar-bloco">
        <button class="option-bloco"> Bloco 1 </button>
        <button class="option-bloco"> Bloco 2 </button>
        <button class="option-bloco"> Bloco 3 </button>
    </div>
    <div id="selecionar-sala">
        <div class="option-sala">
            <h2> 01 </h2>
            <small> 2 horários disponíveis </small>
        </div>
    </div>
    <div id="selecionar-horario">
        <div class="option-horario">
            <h1> 07:00 </h1>
            <p>Indisponível</p>
        </div>
    </div>
</div>