<div id="historico-container">
    
    <select name="Instituição" id="select-instituicao">
        <option value=""> Instituição 1 </option>
        <option value=""> Instituição 2 </option>
    </select>

    <div class="view-reservas">
        <div class="entrada-reserva">
            
            <div class="dados-reserva">
                <img src="" alt="">
                <h2> Sala 1 </h2>
                <small> Bloco 1 </small>
                <small> Horário, Data </small>
            </div>

            <button class="btn-detalhes">
                Ver detalhes
            </button>

        </div>
    </div>
    
    <div class="view-reservas">
        <div class="entrada-reserva">
            
            <div class="dados-reserva">
                <img src="" alt="">
                <h2> Sala 1 </h2>
                <small> Bloco 1 </small>
                <small> Horário, Data </small>
            </div>

            <button class="btn-detalhes">
                Ver detalhes
            </button>

        </div>
    </div>
    
</div>